/*medias da pagina serviço*/
@media screen and (max-width: 1245px){
    .menu-s{
        text-align: center;
        height: 140px;
    }
    .menu-s .logo-s{
        width: 100%;
        text-align: center;
        float: none;
    }
    .menu-s .logo-s img{
        margin: 6px 0;
    }
    .menu-s ul{
        width: 100%;
        float: none;
    }
    header{
        padding: 10px 2%;
        background-attachment: fixed;
        width: 100%;
    }
}
@media screen and (max-width: 700px){
    .logo-s{
        text-align: center;
    }
}
@media screen and (max-width: 756px){
    .menu-s ul{
        display: none;
    }
    .menu-s{
        height: 70px;
    }
}
@media screen and (max-width: 830px){
    section .servico-1{
        padding: 10px 2%;
        width: 100%;
        height: auto;
    }
    section .servico-1 .servico{
        float: none;
        width: 100%;
        display: inline-block;
    }
    section .servico-1 .servico img{
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 1200px){
    .msg{
    padding: 30px 2% 0 2%;
    width: 100%;
    height: auto;
    }
    .msg .input{
        width: 100%;
        display: inline-block;
        float: none;
        height: auto;
    }
    .msg .cabecalho-painel{
        float: none;
        display: inline-block;
        width: 80%;
        margin-bottom: -5px;
    }
    footer{
        padding: 0 2%;
        width: 100%;
        height: auto;
        }
        footer .footer-painel{
            width: 80%;
            float: none;
            margin: 0 auto;
            max-width: 100%;
        }
        footer .creditos{
            width: 50%;
            float: none;
            margin: 0 auto;
        }
}
@media screen and (max-width: 580px){
    .msg{
    padding: 30px 2% 0 2%;
    width: 100%;
    height: auto;
    }
    .msg .cabecalho-painel{
        width: 100%;
    }
    footer .footer-painel{
        width: 100%;
        float: none;
        display: inline-block;
    }
}
@media screen and (max-width: 576px){
    .msg{
        height: auto;
    }
}
@media screen and (max-width: 420px){
    .msg{
        padding: 30px 2% 0 2%;
    width: 100%;
    height: auto;
    }
    .msg .cabecalho-painel{
        height: auto;
    }
    .msg .cabecalho-painel p{
        width: 100%;
        float: none;
        display: inline-block;
    }
    .msg .cabecalho-painel ul{
        width: 100%;
        float: none;display: inline-block;
    }
}
@media screen and (max-width: 1000px){
    .frota{
        padding: 30px 2% 0 2%;
    width: 100%;
    height: auto;
    }
    .frota .frotas{
        float: none;
        width: 100%;
        padding: 20px 0;
    }
    .frota .frotas img{
        width: 80%;
    }
    .frota .frotas .cvt-2{
        display: block;
    }
    .frota .frotas .cvt-1{
        float: none;
        display: none;
    }
}

/*fim da medias da pagina serviços*/